
<link rel='stylesheet' href="/css/expansion.css">
<link rel='stylesheet' href='/css/progress-expanded.css'>

<div class="collapsables">
  <div id="d1" class='collapsedmid d1'>
    <div class='content'>
      <button class='btn btn-primary btncol'>Codes</button>
    </div>

  </div>
  <!--Initial progress display section-->
  <div id="d2" class='collapsedmid d2'>
    <div class='content'>
      <button id='progress'class='btn btn-primary btncol'><span id='buttontext'>Progress</span></button>

      <div class = 'initDisplay'>
        <p id='classlvl'>Current Class: <span id ="level"></span></p>
        <p>Bronze Sylibus Completion</p>
        <div class="circle" id="circle-a">
            <strong id="strong"></strong>
        </div>
      </div>

    </div>
    <!--Once the progress has been expanded display more content here-->
    <div class="expanded-content">
      <strong>This is a display for the expanded content</strong>

    </div>

  </div>

  <!--Initial schedule display section-->
  <div id = 'd3' class='collapsedmid d3'>
    <div class='content'>
      <button class='btn btn-primary btncol'>Schedule</button>
    </div>

  </div>
<div>
<script src="/scripts/circle-progress.js"></script>
<script src='/js/expansion.js'></script>
<script src='/js/progress.js'></script>
